* {
  font-family: "JetBrains Mono Nerd Font";
}

#waybar {
  background: rgba(22, 22, 30, 0.85);
  color: #a9b1d6;
}

tooltip {
  background: rgba(16, 16, 20, 0.95);
  border: 1px solid #29355a;
  border-radius: 6px;
}

tooltip label {
  color: #c0caf5;
  padding: 4px 8px;
}

/* LEFT MODULES */

#clock {
  color: #c0caf5;
}

#workspaces button {
  color: #565f89;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: rgba(32, 35, 48, 0.85);
}

#workspaces button.active {
  color: #3d59a1;
}

#tray {
  padding-left: 4px;
}

/* CENTER MODULE */

#window {
  color: #a9b1d6;
}

/* RIGHT MODULES */

#custom-updates {
  color: #73daca;
}

#temperature {
  color: #e0af68;
  margin-right: 4px;
}

#memory {
  color: #bb9af7;
  margin-right: 4px;
}

#cpu {
  color: #7dcfff;
  margin-right: 4px;
}

#pulseaudio {
  color: #73daca;
  margin-right: 4px;
}

#battery {
  margin-right: 4px;
}

#custom-nightmode {
  color: #ff9e64;
  margin-right: 8px;
}

#custom-bluetooth {
  color: #7aa2f7;
  margin-right: 8px;
}

#network {
  color: #7dcfff;
  margin-right: 8px;
}

#custom-powermenu {
  color: #f7768e;
}
